.title
  font-family: 'Droid Sans', sans-serif
  font-size:   9vw
  position:    absolute
  opacity:     0
  top:         35%
  left:        50%
  transform:   translateX(-20%) translateY(-50%)
  color:       grey
  font-weight: bold
  text-shadow: 5px 5px 2px black
  animation:   enter-text 2s ease-out .5s 1
  animation-fill-mode: forwards

@keyframes enter-text
  to
    opacity: 1
    top:     45%
    color:   white
