<div class="main-picture">
  <img src="images/bg-robot.jpg" alt="">
</div>
<div class="container">
  <div class="robot-code">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nisi, ipsam. Tempora suscipit cumque nesciunt ducimus consequuntur nulla, necessitatibus placeat voluptatem soluta blanditiis magni provident nostrum eos delectus corrupti sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nisi, ipsam. Tempora suscipit cumque nesciunt ducimus consequuntur nulla, necessitatibus placeat voluptatem soluta blanditiis magni provident nostrum eos delectus corrupti sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, nisi, ipsam. Tempora suscipit cumque nesciunt ducimus consequuntur nulla, necessitatibus placeat voluptatem soluta blanditiis magni provident nostrum eos delectus corrupti sint.
  </div>

  <div class="run-program" ng-click="runProgram()">
    <span class="run-program-btn">RUN PROGRAM<span>
  </div>
</div>
